In [1]:

import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('train.csv')

## 각 칼럼 확인

In [3]:
train.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [5]:
train.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [6]:
train.groupby('Transported')['Age'].mean()

Transported
False    29.922858
True     27.748834
Name: Age, dtype: float64

In [7]:
train.groupby('Transported')['VIP'].mean()

Transported
False    0.029175
True     0.017782
Name: VIP, dtype: float64

In [8]:
train.groupby(['Transported','VIP']).size()

Transported  VIP
False        False    4093
             True      123
True         False    4198
             True       76
dtype: int64

In [9]:
train.groupby(['VIP','HomePlanet']).size()

VIP    HomePlanet
False  Earth         4487
       Europa        1958
       Mars          1653
True   Europa         131
       Mars            63
dtype: int64

In [10]:
train.groupby(['Transported','HomePlanet']).size()

Transported  HomePlanet
False        Earth         2651
             Europa         727
             Mars           839
True         Earth         1951
             Europa        1404
             Mars           920
dtype: int64

## HomePlanet Null 처리

HomePlanet Null 채우기 
- 1. PassengerId 를 group으로 만들어서 같은 그룹에 같은 HomePlanet을 준다. (ex: 0001 : Earth, 0002 : Europa)
- 2. PassengerId 를 group화 해서 null값을 채워도 111개가 남음 그래서 Name기준으로 다시 HomePlanet 값을 채운다
- 3. Destination 을 기준으로 HomePlanet을 채운다

In [11]:
# null 값
'''PassengerId    0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0'''

'PassengerId    0\nHomePlanet      201\nCryoSleep       217\nCabin           199\nDestination     182\nAge             179\nVIP             203\nRoomService     181\nFoodCourt       183\nShoppingMall    208\nSpa             183\nVRDeck          188\nName            200\nTransported       0'

In [12]:
train['HomePlanet'].value_counts()

Earth     4602
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

In [13]:
train['Group'] = train['PassengerId'].str[:4]
# train['PassengerId'].split('_')str[0]

In [14]:
train['PassengerId'].str[:4]

0       0001
1       0002
2       0003
3       0003
4       0004
        ...
8688    9276
8689    9278
8690    9279
8691    9280
8692    9280
Name: PassengerId, Length: 8693, dtype: object

In [15]:
train.groupby(['Group','HomePlanet']).size()

Group  HomePlanet
0001   Europa        1
0002   Earth         1
0003   Europa        2
0004   Earth         1
0005   Earth         1
                    ..
9275   Europa        3
9276   Europa        1
9278   Earth         1
9279   Earth         1
9280   Europa        2
Length: 6107, dtype: int64

In [16]:
home_group = train.groupby(['Group','HomePlanet']).size().reset_index()

In [17]:
home_group

     Group HomePlanet  0
0     0001     Europa  1
1     0002      Earth  1
2     0003     Europa  2
3     0004      Earth  1
4     0005      Earth  1
...    ...        ... ..
6102  9275     Europa  3
6103  9276     Europa  1
6104  9278      Earth  1
6105  9279      Earth  1
6106  9280     Europa  2

[6107 rows x 3 columns]

In [18]:
home_group[home_group.duplicated()]
# group이 중복된 것이 없다 각 그룹별로 행성 데이터가 존재 한다 (Earth, Europa, Mars)

Empty DataFrame
Columns: [Group, HomePlanet, 0]
Index: []

In [19]:
train[train['HomePlanet'].isnull()]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group
59,0064_02,NaN,True,E/3/S,TRAPPIST-1e,33.0,False,0.0,0.0,NaN,0.0,0.0,Colatz Keen,True,0064
113,0119_01,NaN,False,A/0/P,TRAPPIST-1e,39.0,False,0.0,2344.0,0.0,65.0,6898.0,Batan Coning,False,0119
186,0210_01,NaN,True,D/6/P,55 Cancri e,24.0,False,0.0,0.0,NaN,0.0,0.0,Arraid Inicont,True,0210
225,0242_01,NaN,False,F/46/S,TRAPPIST-1e,18.0,False,313.0,1.0,691.0,283.0,0.0,Almone Sté,False,0242
234,0251_01,NaN,True,C/11/S,55 Cancri e,54.0,False,0.0,0.0,0.0,0.0,0.0,Diphah Amsive,True,0251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8515,9084_01,NaN,False,E/582/P,TRAPPIST-1e,25.0,False,1258.0,0.0,22.0,19.0,0.0,Jurs Mone,False,9084
8613,9194_01,NaN,False,E/603/S,55 Cancri e,53.0,False,0.0,4017.0,0.0,13.0,3147.0,NaN,False,9194
8666,9248_01,NaN,False,F/1792/S,55 Cancri e,38.0,NaN,28.0,1208.0,973.0,207.0,0.0,Gian Perle,True,9248
8674,9257_01,NaN,False,F/1892/P,TRAPPIST-1e,13.0,False,39.0,0.0,1085.0,24.0,0.0,Ties Apple,False,9257
8684,9274_01,NaN,True,G/1508/P,TRAPPIST-1e,23.0,False,0.0,0.0,0.0,0.0,0.0,Chelsa Bullisey,True,9274

In [20]:
home_dict={}
for g, hp in zip(home_group['Group'], home_group['HomePlanet']):
    home_dict[g]=hp

In [21]:
train['HomePlanet'].fillna(train['Group'].map(home_dict), inplace=True)
# train['Group'] 이 0 이면 Europa, 1이면 Earth 맵핑

In [22]:
train['HomePlanet'].isnull().sum()
# null 값이 111개 존재 한다 이 값은 다른 방법으로 처리 해야 함

111

In [23]:
train['Name2'] = train['Name'].str.split(' ').str[1]

In [24]:
name_group = train.groupby(['Name2','HomePlanet']).size().reset_index()

In [25]:
name_dict={}
for n, hp in zip(name_group['Name2'], name_group['HomePlanet']):
    name_dict[n]=hp

In [26]:
train['HomePlanet'].fillna(train['Name2'].map(name_dict), inplace=True)
# train['Group'] 이 0 이면 Europa, 1이면 Earth 맵핑

In [27]:
train[train['HomePlanet'].isnull()]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,Name2
225,0242_01,NaN,False,F/46/S,TRAPPIST-1e,18.0,False,313.0,1.0,691.0,283.0,0.0,Almone Sté,False,0242,Sté
234,0251_01,NaN,True,C/11/S,55 Cancri e,54.0,False,0.0,0.0,0.0,0.0,0.0,Diphah Amsive,True,0251,Amsive
807,0853_01,NaN,True,A/9/S,55 Cancri e,38.0,False,0.0,0.0,0.0,0.0,0.0,Hamelik Ageurante,True,0853,Ageurante
1855,1978_01,NaN,True,G/311/S,TRAPPIST-1e,19.0,False,0.0,0.0,0.0,0.0,0.0,NaN,True,1978,NaN
2274,2443_01,NaN,False,D/72/P,TRAPPIST-1e,31.0,False,1458.0,421.0,76.0,0.0,0.0,NaN,False,2443,NaN
2631,2817_01,NaN,False,F/584/P,TRAPPIST-1e,25.0,False,237.0,0.0,910.0,0.0,12.0,Sealfs Sutty,False,2817,Sutty
3091,3331_01,NaN,False,F/631/S,TRAPPIST-1e,40.0,False,666.0,4.0,83.0,0.0,50.0,NaN,True,3331,NaN
4548,4840_01,NaN,True,F/915/S,TRAPPIST-1e,36.0,False,0.0,0.0,NaN,0.0,0.0,NaN,True,4840,NaN
5252,5603_01,NaN,False,E/365/S,TRAPPIST-1e,34.0,False,170.0,1256.0,0.0,3926.0,7121.0,Kocha Cluitty,False,5603,Cluitty
5634,5989_01,NaN,False,F/1141/S,TRAPPIST-1e,20.0,False,0.0,0.0,NaN,703.0,0.0,Darrie Holcompton,False,5989,Holcompton
5762,6108_01,NaN,False,F/1166/S,TRAPPIST-1e,13.0,False,206.0,28.0,0.0,1.0,629.0,NaN,False,6108,NaN
6644,7006_01,NaN,True,G/1142/S,PSO J318.5-22,16.0,False,0.0,0.0,0.0,0.0,0.0,Tammyl Fuenton,True,7006,Fuenton

In [28]:
train.groupby(['Destination','HomePlanet']).size()

Destination    HomePlanet
55 Cancri e    Earth          700
               Europa         902
               Mars           196
PSO J318.5-22  Earth          725
               Europa          19
               Mars            51
TRAPPIST-1e    Earth         3177
               Europa        1214
               Mars          1515
dtype: int64

In [29]:
train['Destination'].unique()

array(['TRAPPIST-1e', 'PSO J318.5-22', '55 Cancri e', nan], dtype=object)

In [30]:
des_dict={'55 Cancri e':'Europa','PSO J318.5-22':'Earth', 'TRAPPIST-1e':'Earth'}

In [31]:
des_dict

{'55 Cancri e': 'Europa', 'PSO J318.5-22': 'Earth', 'TRAPPIST-1e': 'Earth'}

In [32]:
train['HomePlanet'].fillna(train['Destination'].map(des_dict), inplace=True)
# train['HomePlanet'].fillna(train['Destination'].map({'55 Cancri e':'Europa',
# 'PSO J318.5-22':'Earth', 'TRAPPIST-1e':'Earth'}), inplace=True)

In [33]:
train['HomePlanet'].isnull().sum()

0

In [34]:
train['VIP'].value_counts(dropna=False)
# VIP는 별 관련이 없어서 False로 채움

False    8291
NaN       203
True      199
Name: VIP, dtype: int64

In [35]:
train[train['VIP']==True]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,Name2
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,0003,Susent
108,0112_01,Europa,False,B/1/S,55 Cancri e,48.0,True,0.0,2537.0,87.0,17.0,13.0,Moth Cowtale,True,0112,Cowtale
120,0128_01,Mars,False,D/3/S,TRAPPIST-1e,61.0,True,2353.0,334.0,9.0,316.0,2.0,Grohs Fles,False,0128,Fles
214,0224_01,Mars,False,F/42/S,TRAPPIST-1e,32.0,True,181.0,0.0,5.0,1634.0,0.0,Blues Queen,False,0224,Queen
291,0321_01,Mars,False,F/61/S,TRAPPIST-1e,59.0,True,1018.0,0.0,209.0,0.0,0.0,Quites Bache,False,0321,Bache
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8579,9158_01,Europa,True,B/298/P,55 Cancri e,30.0,True,0.0,0.0,0.0,0.0,0.0,Magnon Maglible,True,9158,Maglible
8614,9194_02,Europa,False,E/603/S,TRAPPIST-1e,32.0,True,1003.0,909.0,0.0,0.0,15.0,Tachba Subwor,False,9194,Subwor
8621,9197_02,Europa,False,C/308/P,NaN,41.0,True,0.0,7964.0,0.0,3238.0,5839.0,Aludram Platch,False,9197,Platch
8652,9230_01,Europa,False,C/342/S,TRAPPIST-1e,36.0,True,0.0,5600.0,715.0,2868.0,971.0,NaN,True,9230,NaN
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,9276,Noxnuther

In [36]:
train['VIP'].fillna(False, inplace=True)

In [37]:
train['VIP'].isnull().sum()

0

In [38]:
train.isnull().sum()

PassengerId       0
HomePlanet        0
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP               0
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
Group             0
Name2           200
dtype: int64

In [39]:
fee_list = ['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']

In [40]:
train['RoomService'].median()

0.0

In [41]:
fee_list

['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

In [42]:
train['RoomService'].median()

0.0

In [43]:
train['FoodCourt'].median()

0.0

In [44]:
for col in fee_list:
    train[col].fillna(train[col].median(),inplace=True)

In [45]:
train['Fee'] = train['RoomService']+train['FoodCourt']+train['ShoppingMall']+train['Spa']+train['VRDeck']

In [46]:
train['Fee'].isnull().sum()

0

In [47]:
train['deck'] = train['Cabin'].str.split('/').str[0]

In [48]:
train['side'] = train['Cabin'].str.split('/').str[-1]

In [49]:
train['Cabin']

0          B/0/P
1          F/0/S
2          A/0/S
3          A/0/S
4          F/1/S
          ...
8688      A/98/P
8689    G/1499/S
8690    G/1500/S
8691     E/608/S
8692     E/608/S
Name: Cabin, Length: 8693, dtype: object

In [50]:
train.groupby(['HomePlanet','deck']).size()

HomePlanet  deck
Earth       D          1
            E        404
            F       1652
            G       2559
Europa      A        256
            B        779
            C        747
            D        192
            E        133
            T          5
Mars        D        285
            E        339
            F       1142
dtype: int64

Earth : G , Europa : B

In [51]:
train['deck'].fillna(train['HomePlanet'].map({'Earth':'G','Europa':'B', 'Mars':'F'}), inplace=True)

In [52]:
train['deck'].isnull().sum()

0

In [53]:
side_group = train.groupby(['Group','side']).size().reset_index()

In [54]:
side_group[side_group['Group'].duplicated()]

Empty DataFrame
Columns: [Group, side, 0]
Index: []

In [55]:
side_dict={}
for s,g in zip(side_group['Group'], side_group['side']):
    side_dict[s]=g

In [56]:
side_dict

{'0001': 'P',
 '0002': 'S',
 '0003': 'S',
 '0004': 'S',
 '0005': 'P',
 '0006': 'S',
 '0007': 'S',
 '0008': 'P',
 '0009': 'P',
 '0010': 'S',
 '0011': 'P',
 '0014': 'P',
 '0015': 'P',
 '0016': 'P',
 '0017': 'P',
 '0020': 'S',
 '0022': 'P',
 '0024': 'S',
 '0025': 'S',
 '0026': 'P',
 '0028': 'P',
 '0030': 'S',
 '0031': 'P',
 '0034': 'S',
 '0035': 'P',
 '0036': 'S',
 '0038': 'S',
 '0039': 'P',
 '0041': 'P',
 '0043': 'P',
 '0044': 'P',
 '0045': 'P',
 '0050': 'S',
 '0051': 'S',
 '0052': 'S',
 '0053': 'S',
 '0056': 'S',
 '0058': 'S',
 '0061': 'S',
 '0062': 'S',
 '0064': 'S',
 '0066': 'P',
 '0067': 'S',
 '0068': 'S',
 '0069': 'S',
 '0070': 'P',
 '0071': 'P',
 '0072': 'S',
 '0073': 'P',
 '0074': 'S',
 '0076': 'S',
 '0077': 'P',
 '0078': 'S',
 '0081': 'S',
 '0082': 'P',
 '0084': 'S',
 '0085': 'S',
 '0086': 'P',
 '0088': 'S',
 '0090': 'S',
 '0091': 'S',
 '0092': 'P',
 '0097': 'S',
 '0098': 'P',
 '0099': 'P',
 '0102': 'S',
 '0103': 'S',
 '0105': 'P',
 '0107': 'S',
 '0108': 'S',
 '0110': 'P',
 '0111': 'S',
 '0112': 'S',
 '0113': 'P',
 '0114': 'S',
 '0115': 'P',
 '0116': 'P',
 '0119': 'P',
 '0120': 'P',
 '0122': 'S',
 '0123': 'P',
 '0126': 'S',
 '0127': 'S',
 '0128': 'S',
 '0129': 'S',
 '0133': 'S',
 '0134': 'P',
 '0136': 'S',
 '0138': 'P',
 '0139': 'S',
 '0140': 'P',
 '0141': 'P',
 '0144': 'S',
 '0146': 'S',
 '0147': 'S',
 '0148': 'P',
 '0149': 'S',
 '0151': 'P',
 '0152': 'P',
 '0160': 'P',
 '0163': 'P',
 '0164': 'S',
 '0165': 'P',
 '0167': 'S',
 '0169': 'P',
 '0170': 'S',
 '0171': 'S',
 '0172': 'P',
 '0173': 'S',
 '0174': 'P',
 '0177': 'S',
 '0178': 'S',
 '0179': 'P',
 '0181': 'P',
 '0182': 'P',
 '0183': 'S',
 '0186': 'P',
 '0188': 'S',
 '0189': 'P',
 '0190': 'S',
 '0192': 'P',
 '0193': 'P',
 '0195': 'P',
 '0196': 'P',
 '0197': 'P',
 '0198': 'P',
 '0199': 'S',
 '0200': 'P',
 '0201': 'S',
 '0202': 'P',
 '0203': 'S',
 '0205': 'S',
 '0206': 'S',
 '0207': 'P',
 '0210': 'P',
 '0211': 'P',
 '0212': 'P',
 '0213': 'P',
 '0216': 'S',
 '0217': 'P',
 '0219': 'P',
 '0220': 'P',
 '0221': 'S',
 '0222': 'S',
 '0223': 'S',
 '0224': 'S',
 '0225': 'P',
 '0229': 'S',
 '0231': 'S',
 '0232': 'S',
 '0233': 'S',
 '0234': 'P',
 '0237': 'P',
 '0240': 'P',
 '0241': 'P',
 '0242': 'S',
 '0243': 'S',
 '0244': 'S',
 '0245': 'P',
 '0246': 'P',
 '0248': 'S',
 '0250': 'S',
 '0251': 'S',
 '0252': 'P',
 '0253': 'P',
 '0254': 'P',
 '0255': 'S',
 '0257': 'S',
 '0258': 'S',
 '0260': 'S',
 '0261': 'P',
 '0263': 'P',
 '0265': 'S',
 '0267': 'S',
 '0269': 'S',
 '0270': 'P',
 '0275': 'S',
 '0277': 'P',
 '0278': 'P',
 '0281': 'P',
 '0282': 'S',
 '0283': 'P',
 '0285': 'P',
 '0286': 'P',
 '0287': 'P',
 '0288': 'S',
 '0289': 'S',
 '0290': 'S',
 '0291': 'S',
 '0294': 'S',
 '0297': 'P',
 '0298': 'P',
 '0302': 'P',
 '0303': 'S',
 '0304': 'S',
 '0305': 'P',
 '0306': 'S',
 '0307': 'S',
 '0309': 'S',
 '0313': 'P',
 '0314': 'P',
 '0315': 'S',
 '0316': 'S',
 '0320': 'S',
 '0321': 'S',
 '0322': 'S',
 '0324': 'P',
 '0326': 'S',
 '0330': 'S',
 '0331': 'P',
 '0333': 'P',
 '0334': 'S',
 '0336': 'P',
 '0337': 'S',
 '0338': 'S',
 '0340': 'S',
 '0341': 'P',
 '0343': 'P',
 '0345': 'S',
 '0346': 'P',
 '0347': 'S',
 '0348': 'P',
 '0350': 'P',
 '0352': 'P',
 '0356': 'P',
 '0357': 'S',
 '0358': 'S',
 '0359': 'S',
 '0360': 'S',
 '0361': 'S',
 '0365': 'S',
 '0368': 'P',
 '0369': 'S',
 '0370': 'P',
 '0371': 'P',
 '0372': 'P',
 '0373': 'P',
 '0375': 'P',
 '0376': 'S',
 '0377': 'S',
 '0378': 'S',
 '0379': 'P',
 '0381': 'P',
 '0382': 'P',
 '0383': 'S',
 '0384': 'S',
 '0385': 'P',
 '0387': 'P',
 '0388': 'S',
 '0389': 'P',
 '0391': 'P',
 '0392': 'P',
 '0395': 'P',
 '0396': 'S',
 '0397': 'S',
 '0398': 'S',
 '0401': 'S',
 '0402': 'S',
 '0403': 'P',
 '0405': 'P',
 '0407': 'P',
 '0408': 'P',
 '0409': 'S',
 '0410': 'S',
 '0411': 'P',
 '0412': 'P',
 '0413': 'P',
 '0415': 'S',
 '0417': 'P',
 '0423': 'P',
 '0425': 'P',
 '0427': 'P',
 '0428': 'S',
 '0429': 'S',
 '0430': 'S',
 '0431': 'P',
 '0432': 'S',
 '0433': 'P',
 '0434': 'S',
 '0435': 'S',
 '0436': 'S',
 '0437': 'S',
 '0438': 'S',
 '0439': 'P',
 '0441': 'S',
 '0442': 'P',
 '0444': 'P',
 '0445': 'S',
 '0446': 'P',
 '0447': 'S',
 '0448': 'P',
 '0449': 'S',
 '0452': 'S',
 '0453': 'S',
 '0454': 'S',
 '0456': 'S',
 '0457': 'P',
 '0458': 'S',
 '0459': 'S',
 '0460': 'S',
 '0461': 'S',
 '0462': 'S',
 '0463': 'P',
 '0465': 'P',
 '0466': 'P',
 '0470': 'S',
 '0471': 'P',
 '0472': 'S',
 '0474': 'S',
 '0475': 'P',
 '0476': 'P',
 '0477': 'P',
 '0480': 'P',
 '0481': 'S',
 '0482': 'S',
 '0485': 'S',
 '0487': 'S',
 '0488': 'P',
 '0490': 'S',
 '0498': 'S',
 '0499': 'S',
 '0500': 'P',
 '0501': 'P',
 '0503': 'S',
 '0504': 'S',
 '0506': 'S',
 '0507': 'S',
 '0510': 'P',
 '0512': 'S',
 '0513': 'P',
 '0515': 'S',
 '0516': 'S',
 '0517': 'P',
 '0518': 'S',
 '0519': 'S',
 '0520': 'S',
 '0521': 'S',
 '0522': 'P',
 '0523': 'S',
 '0527': 'S',
 '0528': 'P',
 '0529': 'P',
 '0531': 'P',
 '0533': 'P',
 '0534': 'P',
 '0537': 'P',
 '0538': 'P',
 '0539': 'P',
 '0540': 'S',
 '0542': 'P',
 '0545': 'P',
 '0546': 'S',
 '0547': 'S',
 '0548': 'S',
 '0549': 'S',
 '0550': 'S',
 '0551': 'S',
 '0552': 'S',
 '0553': 'P',
 '0555': 'P',
 '0556': 'S',
 '0559': 'S',
 '0560': 'S',
 '0561': 'S',
 '0563': 'P',
 '0564': 'P',
 '0565': 'P',
 '0566': 'S',
 '0567': 'S',
 '0568': 'S',
 '0569': 'P',
 '0570': 'S',
 '0571': 'P',
 '0572': 'S',
 '0573': 'P',
 '0575': 'P',
 '0576': 'S',
 '0577': 'P',
 '0579': 'S',
 '0580': 'P',
 '0581': 'S',
 '0582': 'P',
 '0583': 'S',
 '0585': 'P',
 '0586': 'P',
 '0587': 'P',
 '0588': 'P',
 '0589': 'P',
 '0590': 'P',
 '0591': 'S',
 '0593': 'P',
 '0594': 'S',
 '0596': 'P',
 '0597': 'P',
 '0598': 'S',
 '0599': 'P',
 '0600': 'S',
 '0602': 'P',
 '0603': 'P',
 '0607': 'P',
 '0608': 'P',
 '0609': 'P',
 '0610': 'P',
 '0611': 'S',
 '0612': 'P',
 '0614': 'S',
 '0615': 'S',
 '0618': 'P',
 '0619': 'S',
 '0623': 'S',
 '0628': 'P',
 '0629': 'P',
 '0630': 'S',
 '0631': 'S',
 '0633': 'P',
 '0634': 'P',
 '0635': 'S',
 '0636': 'P',
 '0637': 'S',
 '0638': 'P',
 '0639': 'P',
 '0641': 'S',
 '0642': 'S',
 '0643': 'P',
 '0644': 'P',
 '0645': 'P',
 '0646': 'S',
 '0647': 'S',
 '0650': 'S',
 '0653': 'S',
 '0655': 'P',
 '0656': 'P',
 '0657': 'S',
 '0658': 'S',
 '0659': 'S',
 '0660': 'S',
 '0661': 'P',
 '0663': 'P',
 '0664': 'S',
 '0665': 'P',
 '0668': 'P',
 '0669': 'P',
 '0671': 'P',
 '0672': 'P',
 '0674': 'S',
 '0677': 'S',
 '0678': 'S',
 '0679': 'S',
 '0680': 'P',
 '0682': 'S',
 '0683': 'P',
 '0684': 'P',
 '0685': 'P',
 '0686': 'P',
 '0687': 'S',
 '0688': 'S',
 '0689': 'S',
 '0690': 'S',
 '0691': 'S',
 '0693': 'S',
 '0696': 'S',
 '0697': 'P',
 '0699': 'S',
 '0701': 'S',
 '0702': 'S',
 '0703': 'S',
 '0704': 'P',
 '0705': 'P',
 '0707': 'S',
 '0709': 'S',
 '0710': 'P',
 '0712': 'P',
 '0713': 'S',
 '0714': 'P',
 '0718': 'P',
 '0719': 'P',
 '0724': 'S',
 '0726': 'P',
 '0727': 'S',
 '0728': 'S',
 '0729': 'S',
 '0733': 'P',
 '0734': 'P',
 '0736': 'P',
 '0737': 'S',
 '0738': 'P',
 '0740': 'P',
 '0743': 'S',
 '0746': 'S',
 '0750': 'S',
 '0753': 'P',
 '0754': 'P',
 '0756': 'S',
 '0757': 'P',
 '0761': 'P',
 '0762': 'S',
 '0764': 'S',
 '0765': 'S',
 '0767': 'S',
 '0768': 'P',
 '0769': 'S',
 '0770': 'S',
 '0771': 'P',
 '0772': 'S',
 '0773': 'S',
 '0776': 'P',
 '0777': 'P',
 '0779': 'P',
 '0781': 'S',
 '0782': 'P',
 '0784': 'S',
 '0785': 'P',
 '0786': 'P',
 '0787': 'P',
 '0788': 'P',
 '0789': 'S',
 '0790': 'S',
 '0791': 'P',
 '0793': 'P',
 '0794': 'S',
 '0795': 'S',
 '0796': 'S',
 '0797': 'S',
 '0798': 'S',
 '0799': 'P',
 '0802': 'S',
 '0805': 'P',
 '0806': 'S',
 '0808': 'S',
 '0809': 'S',
 '0811': 'S',
 '0813': 'P',
 '0815': 'S',
 '0816': 'S',
 '0817': 'P',
 '0818': 'S',
 '0819': 'S',
 '0820': 'S',
 '0822': 'S',
 '0823': 'S',
 '0824': 'S',
 '0825': 'P',
 '0828': 'S',
 '0829': 'P',
 '0830': 'P',
 '0834': 'P',
 '0835': 'S',
 '0836': 'S',
 '0839': 'S',
 '0840': 'P',
 '0845': 'S',
 '0846': 'S',
 '0848': 'P',
 '0849': 'S',
 '0850': 'S',
 '0851': 'P',
 '0853': 'S',
 '0859': 'S',
 '0860': 'P',
 '0863': 'S',
 '0865': 'S',
 '0867': 'S',
 '0868': 'S',
 '0869': 'S',
 '0870': 'P',
 '0871': 'S',
 '0873': 'P',
 '0874': 'S',
 '0875': 'S',
 '0876': 'S',
 '0877': 'P',
 '0878': 'S',
 '0881': 'S',
 '0883': 'P',
 '0885': 'S',
 '0889': 'P',
 '0890': 'P',
 '0893': 'P',
 '0898': 'S',
 '0899': 'P',
 '0901': 'S',
 '0902': 'P',
 '0903': 'S',
 '0904': 'P',
 '0905': 'P',
 '0906': 'S',
 '0907': 'P',
 '0910': 'S',
 '0911': 'P',
 '0912': 'S',
 '0913': 'P',
 '0915': 'S',
 '0918': 'S',
 '0919': 'P',
 '0921': 'S',
 '0922': 'P',
 '0923': 'S',
 '0924': 'S',
 '0925': 'P',
 '0926': 'S',
 '0927': 'S',
 '0928': 'P',
 '0930': 'P',
 '0931': 'P',
 '0933': 'P',
 '0935': 'P',
 '0938': 'S',
 '0939': 'P',
 '0940': 'P',
 '0941': 'P',
 '0942': 'P',
 '0944': 'P',
 '0946': 'P',
 '0947': 'P',
 '0949': 'P',
 '0951': 'S',
 '0952': 'S',
 '0953': 'P',
 '0955': 'S',
 '0956': 'S',
 '0957': 'P',
 '0960': 'S',
 '0961': 'P',
 '0964': 'P',
 '0965': 'S',
 '0966': 'S',
 '0968': 'P',
 '0969': 'P',
 '0970': 'P',
 '0971': 'P',
 '0972': 'P',
 '0975': 'P',
 '0976': 'S',
 '0978': 'P',
 '0979': 'S',
 '0982': 'P',
 '0983': 'S',
 '0984': 'S',
 '0985': 'P',
 '0987': 'P',
 '0988': 'S',
 '0989': 'P',
 '0990': 'S',
 '0991': 'S',
 '0992': 'S',
 '0993': 'S',
 '0994': 'S',
 '0995': 'P',
 '0997': 'S',
 '0998': 'P',
 '1000': 'P',
 '1001': 'S',
 '1002': 'S',
 '1004': 'S',
 '1005': 'S',
 '1006': 'S',
 '1008': 'S',
 '1011': 'P',
 '1012': 'P',
 '1013': 'S',
 '1014': 'P',
 '1015': 'S',
 '1017': 'S',
 '1018': 'P',
 '1019': 'S',
 '1020': 'P',
 '1024': 'P',
 '1025': 'P',
 '1026': 'S',
 '1027': 'P',
 '1029': 'P',
 '1030': 'P',
 '1031': 'S',
 '1032': 'P',
 '1033': 'P',
 '1034': 'P',
 '1035': 'P',
 '1036': 'S',
 '1038': 'S',
 '1040': 'S',
 '1043': 'P',
 '1045': 'P',
 '1046': 'S',
 '1047': 'P',
 '1048': 'P',
 '1049': 'P',
 '1051': 'S',
 '1052': 'S',
 '1053': 'S',
 '1054': 'S',
 '1056': 'P',
 '1057': 'P',
 '1058': 'S',
 '1060': 'S',
 '1062': 'P',
 '1063': 'P',
 '1065': 'S',
 '1066': 'P',
 '1068': 'S',
 '1071': 'P',
 '1075': 'S',
 '1076': 'P',
 '1077': 'P',
 '1078': 'P',
 '1079': 'P',
 '1080': 'S',
 '1082': 'S',
 '1083': 'S',
 '1084': 'S',
 '1085': 'P',
 '1086': 'P',
 '1088': 'S',
 '1089': 'P',
 '1091': 'P',
 '1093': 'P',
 '1094': 'P',
 '1096': 'S',
 '1097': 'S',
 '1099': 'P',
 '1100': 'P',
 '1102': 'P',
 '1105': 'S',
 '1108': 'S',
 '1110': 'S',
 '1112': 'P',
 '1113': 'S',
 '1114': 'S',
 '1115': 'S',
 '1116': 'S',
 '1117': 'P',
 '1121': 'P',
 '1123': 'P',
 '1127': 'S',
 '1129': 'S',
 '1130': 'S',
 '1133': 'P',
 '1136': 'S',
 '1140': 'S',
 '1141': 'S',
 '1142': 'P',
 '1144': 'S',
 '1146': 'P',
 '1147': 'P',
 '1148': 'P',
 '1149': 'S',
 '1150': 'S',
 '1152': 'S',
 '1153': 'P',
 '1154': 'P',
 '1155': 'P',
 '1156': 'S',
 '1161': 'S',
 '1162': 'S',
 '1163': 'P',
 '1165': 'P',
 '1166': 'P',
 '1167': 'P',
 '1168': 'P',
 '1169': 'S',
 '1170': 'S',
 '1173': 'S',
 '1174': 'P',
 '1175': 'S',
 '1177': 'P',
 '1178': 'S',
 '1179': 'S',
 '1180': 'S',
 '1182': 'P',
 '1185': 'P',
 '1186': 'S',
 '1187': 'S',
 '1188': 'P',
 '1190': 'P',
 '1191': 'S',
 '1192': 'P',
 '1193': 'S',
 '1195': 'P',
 '1197': 'P',
 '1199': 'P',
 '1203': 'S',
 '1206': 'P',
 '1208': 'P',
 '1210': 'P',
 '1211': 'S',
 '1212': 'P',
 '1213': 'P',
 '1214': 'P',
 '1215': 'S',
 '1216': 'P',
 '1218': 'P',
 '1220': 'P',
 '1221': 'S',
 '1222': 'P',
 '1223': 'S',
 '1225': 'P',
 '1228': 'S',
 '1229': 'P',
 '1230': 'S',
 '1231': 'P',
 '1232': 'S',
 '1233': 'P',
 '1234': 'S',
 '1235': 'S',
 '1236': 'P',
 '1238': 'S',
 '1239': 'P',
 '1240': 'S',
 '1242': 'P',
 '1243': 'P',
 '1246': 'P',
 '1248': 'S',
 '1250': 'S',
 '1254': 'S',
 '1255': 'S',
 '1256': 'S',
 '1258': 'P',
 '1259': 'S',
 '1260': 'P',
 '1261': 'P',
 '1263': 'S',
 '1264': 'P',
 '1267': 'S',
 '1269': 'P',
 '1271': 'P',
 '1273': 'S',
 '1274': 'P',
 '1278': 'P',
 '1279': 'P',
 '1280': 'P',
 '1281': 'S',
 '1282': 'P',
 '1283': 'S',
 '1284': 'S',
 '1285': 'P',
 '1286': 'S',
 '1287': 'P',
 '1288': 'P',
 '1289': 'S',
 '1291': 'P',
 '1292': 'S',
 '1293': 'P',
 '1294': 'S',
 '1299': 'S',
 '1300': 'S',
 '1302': 'S',
 '1304': 'P',
 '1306': 'S',
 '1307': 'P',
 '1308': 'S',
 '1309': 'P',
 '1310': 'S',
 '1311': 'P',
 '1312': 'P',
 '1316': 'S',
 '1317': 'P',
 '1322': 'P',
 '1323': 'P',
 '1324': 'S',
 '1325': 'S',
 '1326': 'S',
 '1328': 'P',
 '1330': 'S',
 '1331': 'S',
 '1332': 'S',
 '1333': 'P',
 '1335': 'P',
 '1336': 'S',
 '1337': 'S',
 '1340': 'S',
 '1342': 'P',
 '1345': 'S',
 '1347': 'P',
 '1348': 'S',
 '1350': 'S',
 '1351': 'P',
 '1352': 'P',
 '1353': 'S',
 '1355': 'P',
 '1356': 'S',
 '1357': 'S',
 '1360': 'S',
 '1362': 'S',
 '1365': 'S',
 '1366': 'P',
 '1368': 'P',
 '1370': 'S',
 '1371': 'P',
 '1375': 'S',
 '1376': 'P',
 '1377': 'P',
 '1378': 'P',
 '1379': 'S',
 '1380': 'S',
 '1381': 'S',
 '1382': 'S',
 '1383': 'S',
 '1384': 'S',
 '1385': 'P',
 '1386': 'P',
 '1387': 'P',
 '1389': 'S',
 '1390': 'P',
 '1391': 'P',
 '1393': 'S',
 '1395': 'S',
 '1397': 'S',
 '1398': 'P',
 '1399': 'S',
 '1400': 'P',
 '1401': 'P',
 '1402': 'S',
 '1403': 'P',
 '1404': 'S',
 '1406': 'S',
 '1407': 'P',
 '1408': 'S',
 '1410': 'P',
 '1412': 'S',
 '1413': 'S',
 '1414': 'P',
 '1415': 'P',
 '1416': 'P',
 '1417': 'S',
 '1419': 'S',
 '1420': 'S',
 '1421': 'S',
 '1423': 'S',
 '1424': 'P',
 '1425': 'P',
 '1426': 'P',
 '1427': 'S',
 '1428': 'S',
 '1430': 'P',
 '1431': 'P',
 '1433': 'S',
 '1434': 'P',
 '1435': 'P',
 '1438': 'P',
 '1439': 'S',
 '1440': 'S',
 '1442': 'S',
 '1443': 'P',
 '1444': 'S',
 '1445': 'S',
 '1447': 'P',
 '1450': 'S',
 '1451': 'S',
 '1452': 'P',
 '1453': 'P',
 '1454': 'S',
 '1455': 'S',
 '1457': 'S',
 '1458': 'S',
 '1460': 'P',
 '1461': 'S',
 '1462': 'P',
 '1463': 'S',
 '1465': 'P',
 '1467': 'S',
 '1474': 'P',
 '1478': 'P',
 '1479': 'P',
 '1481': 'P',
 '1484': 'P',
 '1485': 'P',
 '1488': 'P',
 '1489': 'S',
 '1490': 'P',
 '1491': 'P',
 '1493': 'S',
 '1498': 'P',
 '1499': 'S',
 '1500': 'S',
 '1501': 'P',
 '1503': 'P',
 '1506': 'P',
 '1507': 'S',
 '1509': 'P',
 '1510': 'S',
 '1511': 'S',
 '1515': 'S',
 '1520': 'S',
 '1521': 'S',
 '1523': 'S',
 '1524': 'S',
 '1525': 'P',
 '1526': 'P',
 '1527': 'P',
 '1528': 'P',
 '1529': 'S',
 '1531': 'S',
 '1532': 'S',
 '1533': 'P',
 '1536': 'S',
 '1539': 'S',
 '1540': 'P',
 '1541': 'S',
 '1542': 'S',
 '1543': 'P',
 '1544': 'P',
 ...}

In [57]:
train['deck'].isnull().sum()

0

In [58]:
train['side'].fillna(train['Group'].map(side_dict),inplace=True)

In [59]:
train['side'].isnull().sum()

99

In [60]:
train['side'].value_counts()

S    4343
P    4251
Name: side, dtype: int64

In [61]:
train['side'].fillna('S',inplace=True)

In [62]:
dest_group = train.groupby(['Group','Destination']).size().reset_index()

In [63]:
dest_group[dest_group['Group'].duplicated()]

     Group    Destination  0
8     0008    TRAPPIST-1e  1
17    0017    TRAPPIST-1e  1
19    0020  PSO J318.5-22  1
20    0020    TRAPPIST-1e  3
36    0044  PSO J318.5-22  1
...    ...            ... ..
6836  9219    TRAPPIST-1e  1
6838  9220    TRAPPIST-1e  2
6844  9227    TRAPPIST-1e  3
6847  9231    TRAPPIST-1e  2
6879  9280    TRAPPIST-1e  1

[766 rows x 3 columns]

In [64]:
dest_group = dest_group.sort_values(0, ascending=False)

In [65]:
dest_group = dest_group.drop_duplicates()

In [66]:
dest_dict={}
for g , d in zip(dest_group['Group'], dest_group['Destination']):
    dest_dict[g]=d

In [67]:
train['Destination'].fillna(train['Group'].map(dest_dict),inplace=True)

In [68]:
train['Destination'].isnull().sum()

103

In [69]:
train.groupby(['HomePlanet','Destination']).size()

HomePlanet  Destination
Earth       55 Cancri e       704
            PSO J318.5-22     736
            TRAPPIST-1e      3203
Europa      55 Cancri e       915
            PSO J318.5-22      19
            TRAPPIST-1e      1224
Mars        55 Cancri e       201
            PSO J318.5-22      51
            TRAPPIST-1e      1537
dtype: int64

In [70]:
train['Destination'].value_counts()

TRAPPIST-1e      5964
55 Cancri e      1820
PSO J318.5-22     806
Name: Destination, dtype: int64

In [71]:
train['Destination'].fillna('TRAPPIST-1e',inplace=True)

In [72]:
train['Destination'].isnull().sum()

0

In [73]:
train.isnull().sum()

PassengerId       0
HomePlanet        0
CryoSleep       217
Cabin           199
Destination       0
Age             179
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            200
Transported       0
Group             0
Name2           200
Fee               0
deck              0
side              0
dtype: int64

In [74]:
# RoomService, FoodCourt, ShoppingMall,Spa,VRDeck
train['CryoSleep']

0       False
1       False
2       False
3       False
4       False
        ...
8688    False
8689     True
8690    False
8691    False
8692    False
Name: CryoSleep, Length: 8693, dtype: object

In [75]:
train[train['CryoSleep'].isnull()]['Fee']

92         0.0
98       703.0
104     2018.0
111        0.0
152      990.0
         ...
8620       0.0
8651       0.0
8664       0.0
8675    2056.0
8687    3540.0
Name: Fee, Length: 217, dtype: float64

In [76]:
train['CryoSleep'] = np.where(train['CryoSleep'] >0 ,False, True)

In [77]:
train['CryoSleep'].isnull().sum()

0

In [78]:
train['Transported'].value_counts()

True     4378
False    4315
Name: Transported, dtype: int64

In [79]:
train['Age'].fillna(train['Age'].median(),inplace=True)

In [80]:
del_col = ['PassengerId', 'Name', 'Name2','Cabin' ]

In [81]:
train = train.drop(del_col, axis=1)

In [82]:
train.isnull().sum()

HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
Group           0
Fee             0
deck            0
side            0
dtype: int64

In [83]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8693 non-null   object
 1   CryoSleep     8693 non-null   bool
 2   Destination   8693 non-null   object
 3   Age           8693 non-null   float64
 4   VIP           8693 non-null   bool
 5   RoomService   8693 non-null   float64
 6   FoodCourt     8693 non-null   float64
 7   ShoppingMall  8693 non-null   float64
 8   Spa           8693 non-null   float64
 9   VRDeck        8693 non-null   float64
 10  Transported   8693 non-null   bool
 11  Group         8693 non-null   object
 12  Fee           8693 non-null   float64
 13  deck          8693 non-null   object
 14  side          8693 non-null   object
dtypes: bool(3), float64(7), object(5)
memory usage: 840.6+ KB

In [131]:
print(train['HomePlanet'].unique())
print(train['Destination'].unique())
print(train['Group'].unique())
print(train['deck'].unique())
print(train['side'].unique())

[1 0 2]

In [90]:
from sklearn.preprocessing import LabelEncoder

In [99]:
obj_col=[]
for col,types in zip(train.dtypes.index, train.dtypes.values):
    if types=='object':
        obj_col.append(col)

In [100]:
obj_col

['HomePlanet', 'Destination', 'Group', 'deck', 'side']

In [124]:
import pickle

In [126]:
for col in obj_col:
    label = LabelEncoder()
    train[col]=label.fit_transform(train[col])
    filename = 'label_'+col+'.pkl'
    with open('rabel_model.pkl', 'wb') as f:
        pickle.dump(label, f)

In [103]:
X = train.drop('Transported',axis=1)
Y = train['Transported']

In [108]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

- train 데이터는 문제,정답있고 test는 문제만 있는 것 train을 통해 모델을 만들고 test를 모델에 돌려서 결과제출

In [116]:
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.2, random_state=10)

In [118]:
rfc_model = RandomForestClassifier()

In [120]:
rfc_model.fit(x_train,y_train)

RandomForestClassifier()

In [122]:
rfc_model.score(x_test,y_test)

0.7947096032202415